@import "src/styles/_common.scss";

.collapseContainer {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  width: 64em;
  height: 3.5em;
  border-radius: 5px;
  justify-content: center;
  margin: 0;
}

.cover {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.category {
  color: white;
  font-family: $font;
  font-size: 1.5em;
  font-weight: 100;
}

.arrow {
}

.textContainer {
  width: 64em;
  background-color: $bg-color;
}
