@import "src/styles/_common.scss";

.footer {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 14em;
  width: 100%;
  margin-top: -2.2em;
  justify-content: center;
  align-items: end;
  @include devices(mobile) {
    align-items: center;
  }
  .footerElements {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 2em;
    gap: 3em;
    @include devices(mobile) {
      gap: 1em;
      margin: 0;
    }
    .logoFooter {
      width: 30%;
      @include devices(mobile) {
        width: 100%;
      }
    }
    .rightsReserved {
      color: white;
      font-family: $font;
      font-weight: 400;
      font-size: 1.5em;
      @include devices(mobile) {
        font-size: 1em;
      }
    }
  }
}
