@import "src/styles/_common.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 6em;
  @include devices(mobile) {
    margin: 1.5em;
  }
  .logoKasa {
    width: 16vw;
    @include devices(mobile) {
      width: 40vw;
    }
  }
  .navigation {
    ul {
      display: flex;
      gap: 4em;
      padding-left: 1em;
      @include devices(mobile) {
        gap: 4vw;
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-family: $font;
          font-size: 1.5em;
          font-weight: 500;
          color: $main-color;
          cursor: pointer;
          padding: 3px;
          white-space: nowrap;
          @include devices(mobile) {
            text-transform: uppercase;
            font-size: 3vw;
          }
        }
      }
    }
    .active {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }
}
