@import "src/styles/_common.scss";

.ratingContainer {
  display: flex;
  gap: 1em;
  @include devices(mobile) {
    gap: 0.6em;
  }
  .star {
    width: 1.5em;
    @include devices(mobile) {
      width: 1.2em;
    }
  }
}
