@import "src/styles/_common.scss";

.ratingContainer {
  display: flex;
  gap: 1em;
  @include devices(mobile) {
    gap: 1vw;
  }
  .star {
    width: 1.5em;
    @include devices(mobile) {
      width: 1.2em;
    }
    @media only screen and (max-width: 350px) {
      width: 5.5vw;
    }
  }
}
