@import "src/styles/_common.scss";

.slideshowContainer {
  width: 77.8em;
  height: 26em;
  position: relative;

  .picture {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .arrowLeft {
    top: 50%;
    left: 10%;
    transform: translate(-170%, -50%);
    position: absolute;
    padding: 7px;
    cursor: pointer;
  }
  .arrowRight {
    top: 50%;
    right: 10%;
    transform: translate(170%, -50%);
    position: absolute;
    padding: 7px;
    cursor: pointer;
  }
  .indexPicture {
    color: white;
    font-family: $font;
    font-size: 1.2em;
    bottom: 6%;
    right: 50%;
    position: absolute;
  }
}
