@import "src/styles/_common.scss";

.slideShow {
  width: 100%;
  .slideshowContainer {
    height: 27vw;
    position: relative;
    @include devices(mobile) {
      height: 80vw;
    }
    .picture {
      border-radius: 25px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      @include devices(mobile) {
        border-radius: 12px;
      }
    }

    .arrowPrev {
      @include arrowSlideShow;
      left: 2%;
    }

    .arrowNext {
      @include arrowSlideShow;
      right: 2%;
    }

    .indexPicture {
      color: white;
      font-family: $font;
      font-size: 1.2em;
      bottom: 6%;
      right: 50%;
      position: absolute;
    }
    @include devices(mobile) {
      display: none;
    }
  }
}

.hidden {
  display: none;
}
