@import "src/styles/_common.scss";

.bannerText {
  color: white;
  font-family: $font;
  font-size: 3.2vw;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap;
  @include devices(mobile) {
    left: 32%;
    font-size: 5.5vw;
  }
  .mobileLineBreak {
    display: none;
    @include devices(mobile) {
      display: block;
    }
  }
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 23.7vw);
  width: 100%;
  background-color: $bg-color;
  border-radius: 25px;
  margin-bottom: 5.2em;
  row-gap: 3.5em;
  padding: 3.5em 0;
  justify-content: space-evenly;
  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 2em;
    padding: 0;
    margin-bottom: 4.5em;
  }
}
